
<div class="banner-title ui-helper-clearfix login">
    <div style="text-align:right; color: #FFFFFF">
        Welcome to <b class="fg-ims-cyan">IMS Pricing Information</b>
    </div>
    <div style="font-size:0.7em;text-align:right;margin-top:10px; color: #FFFFFF">
        Supplied by <b class="fg-ims-cyan">IMS Pricing Insights</b>
    </div>
</div>
