<div class="login-footer boder-top-light-brown ui-helper-clearfix">
    <table class="width-all">
        <tbody>
            <tr>
                <td class="text-align-center">
                    © 2012-2013 IMS Health. All rights reserved. Developed &amp; Designed by IMS Health Global
                    Operations, Service Delivery
                </td>
               @* <td class="ims-icon-small">
                </td>*@
            </tr>
        </tbody>
    </table>
</div>
